<h1>New addition</h1>

<form action="/wizard_add">

  <label for="add_this">Add this</label>
  <input id="add_this" name="first_num">

  <label for="to_this">to this</label>
  <input id="to_this" name="second_num">

  <button>Add!</button>

</form>
