<h1>New multiplication</h1>

<form action="/wizard_multiply">

  <label for="multiply_this">Multiply this:</label>
  <input id="multiply_this" name="first_num">

  <label for="by_this">by this:</label>
  <input id="by_this" name="second_num">

  <button>Multiply!</button>

</form>
