<h1>New subtraction</h1>

<form action="/wizard_subtract">

  <label for="subtract_this">Subtract this:</label>
  <input id="subtract_this" name="first_num">

  <label for="from_this">from this:</label>
  <input id="from_this" name="second_num">

  <button>Subtract!</button>

</form>
